.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  text-align: center;
  transition: 0.5s;
  border: 3px solid #ff00a7;
  border-radius: 50px;
}

.title {
  color: var(--secondary-color);
}
