.card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 31, 31);
  text-align: center;
  transition: 0.2s;
  border: 3px solid #ff006a;
  border-radius: 30%;
}

.card:hover {
  border: 3px solid #ff1010;
}

.image {
  max-width: 50%;
}

.title {
  color: #ff662a;
  font-size: 1.5rem;
  font-family: Paytone One, serif;
}

.title:hover {
  color: #ff1010;
}

.status {
  color: #ff1010;
  font-size: 5rem;
  font-family: Paytone One, serif;
}

.status:hover {
  color: #b81e1e;
}
