.input {
  width: 100%;
  margin: 1.5rem 0 1rem 0;
  padding: 1.5rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #3c3433;
  background-image: linear-gradient(
    to bottom,
    #ffedfa 0%,
    #ffdff6 51%,
    #ffc7f1 100%
  );
  box-shadow: 0 0 20px #559fff;
  border: 1px solid;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
