.welcome {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.instructions {
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container {
  background-color: var(--welcome);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5%;
}
