.btn {
  min-width: 10rem;
  min-height: 3rem;
  color: whitesmoke;
  background-color: hotpink;
  border: none;
  border-radius: 10px;
  font-family: "Paytone One", sans-serif;
  font-size: bolder 2rem;
}
