.btn {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--button-main);
  background-image: linear-gradient(
    to right,
    var(--gradient-1) 0%,
    var(--gradient-2) 51%,
    var(--gradient-3) 100%
  );
  border: 1px solid;
  border-radius: 20px;
  font-family: "Paytone One", sans-serif;
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0;
}

.btn:hover {
  background-position: right center;
}
