.footer {
  background-color: var(--footer);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  max-height: 4.5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home {
  width: 3rem;
  height: 3rem;
}

.favs {
  width: 3rem;
  height: 3rem;
}
