@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&family=Paytone+One&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

html,
body {
  background: var(--background-color);
  padding: 0;
  padding-bottom: 3rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, "Poppins",
    sans-serif, Quicksand, Paytone One, Shadows Into Light;
}

body[data-theme="light"] {
  --primary-color: #d13fd6;
  --secondary-color: #7406c4;
  --background-color: #d1ffff;
  --color-bg-toggle: #2d255f;
  --solution: #9ff4ff;
  --button-main: #effeff;
  --gradient-1: #f723ff;
  --gradient-2: #6f22ff;
  --gradient-3: #fb23cd;
  --footer: #9ff4ff;
}

body[data-theme="dark"] {
  --primary-color: #ff00a7;
  --secondary-color: #d1ffff;
  --background-color: #000;
  --color-bg-toggle: #00eaff;
  --solution: #2a0135;
  --button-main: #190120;
  --gradient-1: #2088ff;
  --gradient-2: #945aff;
  --gradient-3: #0084ff;
  --footer: #15011b;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --background-color: #d1ffff;
  --button-BG-main: #f723ff;
  --button-main: #effeff;
  --placeholder-BG-color: #ffedfa;
  --placeholder-active-color: #3c3433;
  --placeholder-default-color: #aa9aa4;
  --primary-color: #ff00a7;
  --secondary-color: #7406c4;
  --card-background-color: #362f2f;
  --gradient-1: #f723ff;
  --gradient-2: #6f22ff;
  --gradient-3: #fb23cd;
  --footer: #9ff4ff;
}
* {
  box-sizing: border-box;
}
