.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
