.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 5.5rem;
}

.card {
  margin: 1rem;
  margin-bottom: 2rem;
}
