.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20%;
  margin: 0;
}

.link {
  color: var(--secondary-color);
  font-family: Poppins, sans-serif;
}
